* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: lightcyan;
}

ul {
    background: coral;
    padding-left: 0 !important;
}

li {
    display: inline-block;
    color: white;
    padding: 14px 16px; /* cant get rid of left padding from start of nav bar */
}

li:hover {
    background-color: darkorange;
    cursor: pointer;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 550px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: lightsalmon;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    margin: 10px;
    border: salmon 2px solid;
}

iframe {
    width: 500px;
    height: 300px;
    align-items: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.blog-post {
    border: salmon 2px solid;
    border-radius: 5px;
    background: lightsalmon;
    margin: 10px;
    padding: 10px;
}

.blog-post p {
    padding-bottom: 10px;
}

#content {
    width: calc(100% - 620px); /* Content is the main part of my site, the width is 100%-the side bar*/
    margin: 30px
}

.travel_form { /* The background for the form */
    background: lightsalmon;
    padding: 20px;
    margin-right: auto;
    margin-left: 350px;
    width: calc(50% - 300px);
    border-radius: 10px;
    border: salmon 2px solid;
}

.travel_form p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-input-label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 10px;
}

.text-input, .select-input {
    width: 100%;
    border-radius: 5px;
    border: 1px black solid;
    padding: 5px;
}

.radio-label, .check-label{
    padding-right: 20px;
}

h2, h3 {
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    padding-top: 15px;
}

h3 {
    font-weight: bold;
}

.blog-post img {
    height: 100px;
    width: auto;
}

.submit-button {
    margin-top: 20px;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 8px 0;
    border: 1px black solid;
}

.submit-button:hover {
    cursor: pointer;
    background: salmon;
}

.thin-divider{
    border-bottom: 2px solid salmon;
    margin-bottom: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*.page-title {*/
/*    padding-top: 10px;*/
/*}*/